USE [master]
GO
/****** Object:  Database [DarazCloneAgain]    Script Date: 9/22/2025 2:14:17 PM ******/
CREATE DATABASE [DarazCloneAgain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DarazCloneAgain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DarazCloneAgain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DarazCloneAgain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DarazCloneAgain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DarazCloneAgain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DarazCloneAgain]
GO
/****** Object:  Table [dbo].[ProductColors]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[color_name] [varchar](50) NULL,
	[color_code] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDelivery]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDelivery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[location] [varchar](100) NULL,
	[standard_delivery_text] [varchar](100) NULL,
	[standard_delivery_time] [varchar](100) NULL,
	[standard_delivery_price] [varchar](50) NULL,
	[cash_on_delivery] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[current_price] [decimal](12, 2) NULL,
	[original_price] [decimal](12, 2) NULL,
	[discount] [varchar](10) NULL,
	[rating] [decimal](3, 1) NULL,
	[reviews] [int] NULL,
	[badge] [varchar](50) NULL,
	[brand] [varchar](100) NULL,
	[installment] [varchar](255) NULL,
	[color_family] [varchar](50) NULL,
	[storage_capacity] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSeller]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSeller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[seller_name] [varchar](100) NULL,
	[seller_type] [varchar](100) NULL,
	[chat_available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStorageOptions]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStorageOptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[storage_option] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWarranty]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWarranty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[easy_return] [varchar](100) NULL,
	[brand_warranty] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/22/2025 2:14:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductColors] ON 

INSERT [dbo].[ProductColors] ([id], [product_id], [color_name], [color_code]) VALUES (2, 1002, N'Titanium Blue', N'#1A3B5D')
INSERT [dbo].[ProductColors] ([id], [product_id], [color_name], [color_code]) VALUES (3, 1002, N'Silver', N'#C0C0C0')
INSERT [dbo].[ProductColors] ([id], [product_id], [color_name], [color_code]) VALUES (4, 1003, N'Platinum Silver', N'#C0C0C0')
SET IDENTITY_INSERT [dbo].[ProductColors] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDelivery] ON 

INSERT [dbo].[ProductDelivery] ([id], [product_id], [location], [standard_delivery_text], [standard_delivery_time], [standard_delivery_price], [cash_on_delivery]) VALUES (2, 1002, N'Karachi', N'Standard Delivery', N'Get by 23-27 Sep', N'Rs. 700', 1)
INSERT [dbo].[ProductDelivery] ([id], [product_id], [location], [standard_delivery_text], [standard_delivery_time], [standard_delivery_price], [cash_on_delivery]) VALUES (3, 1003, N'Lahore', N'Standard Delivery', N'Get by 26-30 Sep', N'Rs. 700', 1)
INSERT [dbo].[ProductDelivery] ([id], [product_id], [location], [standard_delivery_text], [standard_delivery_time], [standard_delivery_price], [cash_on_delivery]) VALUES (4, 1004, N'Karachi', N'Standard Delivery', N'Get by 23-27 Sep', N'Rs. 200', 1)
SET IDENTITY_INSERT [dbo].[ProductDelivery] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([id], [product_id], [image_url]) VALUES (1002, 1002, N'/images/products/63778b64-b539-4d0a-b7d6-f76637750932.jpg')
INSERT [dbo].[ProductImages] ([id], [product_id], [image_url]) VALUES (1003, 1002, N'/images/products/e9c75418-9ebe-4486-bb55-faebb3c9b161.jpg')
INSERT [dbo].[ProductImages] ([id], [product_id], [image_url]) VALUES (1004, 1002, N'/images/products/f0df5374-602c-4a91-8d9b-06378a9264fa.jpg')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [title], [description], [current_price], [original_price], [discount], [rating], [reviews], [badge], [brand], [installment], [color_family], [storage_capacity]) VALUES (2, N'Samsung Galaxy S23 Ultra', N'Samsung Galaxy S23 Ultra with Snapdragon 8 Gen 2, 12GB RAM, 512GB Storage, Dynamic AMOLED 2X Display.', CAST(239999.00 AS Decimal(12, 2)), CAST(249999.00 AS Decimal(12, 2)), N'-4%', CAST(4.8 AS Decimal(3, 1)), 6200, N'Best Seller', N'Samsung', N'Up to 12 months, Rs. 19,999 per month', N'Phantom Black', N'512GB')
INSERT [dbo].[Products] ([id], [title], [description], [current_price], [original_price], [discount], [rating], [reviews], [badge], [brand], [installment], [color_family], [storage_capacity]) VALUES (1002, N'iPhone 15 Pro Max', N'Apple iPhone 15 Pro Max with A17 Bionic, 8GB RAM, 512GB Storage, Super Retina XDR Display.', CAST(329999.00 AS Decimal(12, 2)), CAST(349999.00 AS Decimal(12, 2)), N'-6%', CAST(4.9 AS Decimal(3, 1)), 7500, N'Best Seller', N'Apple', N'Up to 12 months, Rs. 27,500 per month', N'Titanium Blue', N'512GB')
INSERT [dbo].[Products] ([id], [title], [description], [current_price], [original_price], [discount], [rating], [reviews], [badge], [brand], [installment], [color_family], [storage_capacity]) VALUES (1003, N'Dell XPS 15 Laptop', N'Dell XPS 15 with Intel Core i9 13th Gen, 32GB RAM, 1TB SSD, NVIDIA RTX 4070 Graphics.', CAST(389999.00 AS Decimal(12, 2)), CAST(419999.00 AS Decimal(12, 2)), N'-7%', CAST(4.7 AS Decimal(3, 1)), 5600, N'Bests eller', N'Dell', N'Up to 12 months, Rs. 32,500 per month', N'Platinum Silver', N'1TB SSD')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSeller] ON 

INSERT [dbo].[ProductSeller] ([id], [product_id], [seller_name], [seller_type], [chat_available]) VALUES (2, 2, N'Samsung Official', N'Authorized Seller', 1)
INSERT [dbo].[ProductSeller] ([id], [product_id], [seller_name], [seller_type], [chat_available]) VALUES (1002, 1002, N'Apple Official', N'Authorized Seller', 1)
INSERT [dbo].[ProductSeller] ([id], [product_id], [seller_name], [seller_type], [chat_available]) VALUES (1003, 1003, N'Tech World', N'Authorized Seller', 1)
SET IDENTITY_INSERT [dbo].[ProductSeller] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStorageOptions] ON 

INSERT [dbo].[ProductStorageOptions] ([id], [product_id], [storage_option]) VALUES (2, 1002, N'256GB')
INSERT [dbo].[ProductStorageOptions] ([id], [product_id], [storage_option]) VALUES (3, 1002, N'512GB')
INSERT [dbo].[ProductStorageOptions] ([id], [product_id], [storage_option]) VALUES (4, 1003, N'512GB SSD')
SET IDENTITY_INSERT [dbo].[ProductStorageOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductWarranty] ON 

INSERT [dbo].[ProductWarranty] ([id], [product_id], [easy_return], [brand_warranty]) VALUES (2, 2, N'14 days easy return', N'1 Year Samsung Warranty')
INSERT [dbo].[ProductWarranty] ([id], [product_id], [easy_return], [brand_warranty]) VALUES (1002, 1002, N'14 days easy return', N'1 Year Apple Warranty')
INSERT [dbo].[ProductWarranty] ([id], [product_id], [easy_return], [brand_warranty]) VALUES (1003, 1003, N'15 days easy return', N'2 Years Dell Official Warranty')
SET IDENTITY_INSERT [dbo].[ProductWarranty] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [full_name], [email], [password], [phone], [role], [created_at], [updated_at]) VALUES (1, N'Muhammad Sufiyan Fiyaz', N'sufiyan7278@gmail.com', N'$2a$11$2w9GMpZvJk6qqQSxGKEarew2v5H5APMbHpmqjzm1nbtsxaHCzNssO', N'03420064153', N'customer', CAST(N'2025-09-16T16:51:39.937' AS DateTime), CAST(N'2025-09-16T16:51:39.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164B4867C65]    Script Date: 9/22/2025 2:14:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B43B145FF1EB10AF]    Script Date: 9/22/2025 2:14:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ProductColors]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductDelivery]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductSeller]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductStorageOptions]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[ProductWarranty]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
USE [master]
GO
